/*=========================================================

:root{
	--darkblue:hsl(229,74%,18%);
	--brightblue:#1cf;
	--pinkpurple:rgb(242, 149, 248);
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	.nav-container li:hover {
		box-shadow: 0px 6px 0px 0px var(--brightblue);
	}

/* text css above hero image*/
.bgimage {
	height: 100vh;;
		background-size:cover;
		background-position: center;
		position:relative;
	}

.overlay-image {
	transition: 2s linear;
	display: block;
	position: absolute;
	top: 10%;
	right: 5%;	
	max-height: 300px;
	filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.859));
	  }

.overlay-image:hover{
	filter: drop-shadow(15px 15px 15px rgba(213, 23, 238, 0.677));

}


.hero-container {
	transition: 2s linear;
	width: 60%;	
	position: absolute;
	padding: 20px;
	top: 20%;
	left: -10px;
	/* transform: translate(-50%, -50%); */
	box-shadow: 0px 10px 30px var(--brightblue);
}

.hero-container:hover{
	box-shadow: 0px 10px 30px var(--brightblue);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.859);
}
.hero_title {
		font-size: 3rem;
	}
	.hero_desc {
		font-size: 1.2rem;
	}
	
	.nav-container{
		display: flex;
		justify-content:flex-end;
				
			}
	.nav-container ul {
		display: flex;
		justify-content: space-around;
		width: 40vw;
	}


	.work-grid{	
		margin: 0px 5%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50px 200px 200px 200px 200px 200px 200px;
		grid-template-areas: 
	"work work"
	"project1 project1"
	"project1 project1"
	"project2 project3"
	"project4 project5"
	"project6 project7"
	}
	
	#work{
		grid-area: project1;
	}
	#project-1{
	grid-area: project1;
	}
	#project-2{
		grid-area: project2;
		}
	#project-3{
		grid-area: project3;
	}
	#project-4{
		grid-area: project4;
	}
	#project-5{
		grid-area: project5;
	}
	#project-6{
		grid-area: project6;
	
	}
	}
	

	


/*========================================================
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	.overlay-image{
		max-height: 400px;
	}

/* work grid section */
/* about me */

.about img{
	max-height: 300px;
}
/* work */
.work-grid{	
	margin: 0px 5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50px 200px 200px 200px;
	grid-template-areas: 
"work work work"
"project1 project1 project2 "
"project1 project1 project3"
"project4 project5 project6"
}

#work{
	grid-area: project1;
}
#project-1{
grid-area: project1;
}
#project-2{
	grid-area: project2;

}
#project-3{
	grid-area: project3;
}
#project-4{
	grid-area: project4;
}
#project-5{
	grid-area: project5;
}
#project-6{
	grid-area: project6;
}


}



