/* mobile */
img{
	display: none;
}

.nav-container{
display: flex;
align-items: center;
justify-content: center;
position: sticky;
top: 0px;
z-index: 199;
background-color: rgb(255, 246, 249);
padding: 10px;
}


.page-section,
.page-section h2,
.page-section ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.intro,
.page-wrapper{
	max-width: 60vmax;
	margin: 0 auto;
	padding: 20px; 
}
